<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="/base.css"  rel="stylesheet">
    </head>
    <body>
<header>
    <h1>Best Books!</h1>
    <nav>
        <li>Home</li>
        <li>Result</li>
        <li>Search</li>
        <li>About</li>
    </nav>
</header>
<section class="container">
        <h1 class="header">Search by Title or Author</h1>
        <form action="/searches" method="POST" id="searchForm">
            <div id="searchDiv">
                <input type="text" name="bookSearch" placeholder="Enter a title or author" class="title">
            </div>
            <div id="radioDiv">
                <div class="btnRadio">           
                    <label for="male">Title</label>
                    <input type="radio" id="title" name="searchType" value="title">
                </div>
                <div class="btnRadio">
                    <label for="male">author</label>
                    <input type="radio" id="author" name="searchType" value="author">
                </div>
                
            </div>
            <button type="submit" class="but">Search the Google Books API</button>
        </form>
    </section>
    </body>
    </html>