<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Our Books</title>
    </head>
    <body>

        <h1>Search by title or author</h1>
        <form action="/searches" method="post">
            <div id="searchDiv">
                <input type="text" name="bookSearch">
            </div>
            <div id="radioDiv">
                <div class="btnRadio">           
                    <input type="radio" id="title" name="searchType" value="title" >
                    <label for="title">Title</label><br>
                </div>
                <div class="btnRadio">
                    <input type="radio" id="author" name="searchType" value="author">
                    <label for="author">author</label><br>
                </div>
                
            </div>
            <button type="submit">Search</button>
        </form>
    </body>
    </html>